{% extends 'public/base.html' %}

{% block title %}
    Account History
{% endblock %}

{% block content %}
    <table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Lender</th>
      <th class="mdl-data-table__cell--non-numeric">Borrower</th>
      <th>Amount</th>
      <th class="mdl-data-table__cell--non-numeric">Paid Back?</th>
    </tr>
  </thead>
  <tbody>
  {% for tran in myTrans %}
        <tr>
          <td class="mdl-data-table__cell--non-numeric">{{ tran.lender }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ tran.borrower }}</td>
          <td>{{ tran.amount }}</td>
          <td class="mdl-data-table__cell--non-numeric">{{ tran.status }}</td>
        </tr>
  {% endfor %}
<!--
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Paul McCartney</td>
      <td class="mdl-data-table__cell--non-numeric">The cute one</td>
      <td>73</td>
      <td class="mdl-data-table__cell--non-numeric">Yes</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">George Harrison</td>
      <td class="mdl-data-table__cell--non-numeric">The shy one</td>
      <td>58</td>
      <td class="mdl-data-table__cell--non-numeric">No</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric">Ringo Starr</td>
      <td class="mdl-data-table__cell--non-numeric">The funny one</td>
      <td>74</td>
      <td class="mdl-data-table__cell--non-numeric">Yes</td>
    </tr>
-->
  </tbody>
</table>
{% endblock %}