{% extends 'public/base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row" style="width: 100%">
        <div class="col">
            <a type="button" href="{% url 'borrowFunds' %}" class="btn btn-warning col-md-11">Borrow Funds</a>
        </div>

        <div class="col">
            <a type="button" href="{% url 'borrowerList' %}" class="btn btn-success col-md-11">Lend Funds</a>
        </div>
    </div>

     <div class="row">
         <!--borrowings summary-->
      {% if myDebts %}
            <div class="col-md-6" style="padding-left: 3%">
                <h1>Borrowings</h1>
                 {% for myDebt in myDebts %}
                        <div class="centered">
                            <div class="card" style="width:98%">
                              <div class="card-body">
                                    <p>
                                        amount borrowed : {{ myDebt.amount }},<br>
                                        lender: {{ myDebt.lender }},<br>
                                        amount paid: {{ myDebt.amountPaid }},<br>
                                        due date: {{myDebt.dueDate  }},

                                    </p>
                              </div>
                            </div>
                        </div>
                 {% endfor %}

            </div>
      {% endif %}

         <!--lender summary-->
      {% if myCredits %}
            <div class="col-md-6">
                <h1>Lending Summary</h1>
              <div class="centered">
                <div class="card" style="width:98%">
                  <div class="card-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>Borrower</th>
                            <th>Amount ($)</th>
                            <th>Due Date</th>
                            <th>Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for myCredit in myCredits %}
                                <tr>
                                    <td>{{ myCredit.borrower }}</td>
                                    <td>{{ myCredit.amount }}</td>
                                    <td>{{ myCredit.dueDate }}</td>
                                    <td>{{ myCredit.status }}</td>
                                </tr>
                          {% endfor %}

                        </tbody>
                      </table>
                  </div>
                </div>
             </div>
          </div>
      {% endif %}
    </div>
{% endblock %}