{% extends 'public/base.html' %}

{% block title %}
    Update Profile
{% endblock %}

{% block content %}
    <h1>Transaction Update</h1>
    <div class="col-md-6 centered">
        <div class="card" style="width:100%">
      <div class="card-body">
            <form method="post" novalidate>
              {% csrf_token %}

              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}

              {% for field in form.visible_fields %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              {% endfor %}

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </div>
    </div>
    </div>
{% endblock %}